.change-bg {
  background: #ECFEF8;
}
.result > h3 {
  color: #09805B;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5;
}
.cari-tahu-lagi {
  padding-top: 20px;
  font-size: 1em
}

.cari-tahu-lagi a {
  color: #09805B;
  border: 2px solid #09805B;
  padding: 10px 20px 10px 20px;
  font-weight: 400;
}
.left-arrow {
  padding-right: 10px;
}